<h1 appRgb [red]="30" [green]="150" [blue]="30">Currency Converter</h1>
<label>Amount</label>
<input type="number" [formControl]="amount" />

<label>Currency</label>

<app-option-selector [options]="currencies" [(selected)]="currency">
  <span class="option-container" *appOption="let currency">
    <img class="option-image" [src]="'/icons/' + currency + '.svg'" alt="{{ currency }}" />
    {{ currency }}
  </span>

</app-option-selector>

<app-currency-converter [amount]="amount.value!" [currency]="currency()" (refreshRequired)="refreshData()" />
<app-currency-converter [amount]="amount.value!" [currency]="currency()" (refreshRequired)="refreshData()" />

<div #myRef></div>

<button (click)="stopRefresh()">Stop Refresh Events</button>
